<div class="field-group">
  <label for="<%= @id %>" class="form-label"><%= @label %></label>
  <input type="<%= @type %>" id="<%= @id %>" name="<%= @name %>" value="<%= @value %>" class="<%= @cls %>">
  <% if @error %>
    <p class="invalid-feedback"><%= @error %></p>
  <% end %>
</div>